body{
  background-color: #F1FAEE;
  color: #222222;
  font-family: "Avenir Next", Sans-Serif;
}

h1, h2, h3 {
  color: #1D3557;
}

a {
  color: #B56576;
}

.quarto-title-banner{
  background: linear-gradient(
  120deg,
  #0B132B,
  #1C2541,
  #3A506B,
  #6C9A8B
  );
}