body::before {
  content: "";
  display: block;
  width: 100%;
  height: 14px;
  background-color: #1D3557;
  margin-bottom: 25px;
}

h1.title {
  color: #1D3557;
  font-weight: 700;
}

.midnight-footer {
  text-align: center;
  font-size: 0.9em;
  color: #222222;
  margin-top: 50px;
}